<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <title>Harshal Mankar</title>
</head>
<body>
  <app-header></app-header>
  <div class="top-container">
    <img class="top-cloud" src="../assets/images/cloud.png" alt="">
    <h1>I'm Harshal</h1>
    <h2>a Programmer</h2>
    <img class="bottom-cloud" src="../assets/images/cloud.png" alt="">
    <img src="../assets/images/mountain.png" alt="">
  </div>
  <div class="middle-container">
    <div class="profile">
      <img src="../assets/images/circle-cropped.png" alt="Harshal Profile Picture" width="250" height="250">
      <h2>Hello.</h2>
      <p class="intro">Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-image" src="../assets/images/gif.gif" alt="code-image">
        <h3>Programming</h3>
        <p>quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut eros.</p>
      </div>
      <div class="skill-row">
        <img class="gamer-image" src="https://media.giphy.com/media/ievYtW6hFI2CQ/giphy.gif" alt="">
        <h3>Gamming</h3>
        <p> mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>non elit.</h3>
      <p class="contact-message"> in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
      <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
    </div>
  </div>
  
  
  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="">Website</a>
  </div>
  <router-outlet></router-outlet>
</body>
</html>